ul{
    list-style-type: none;
}
.toDo{
    width: 370px;
    height: 294px;
}

.ourTeamPortraits{
    width: 270px;
    height: 260px;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
/* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
    text-decoration: none;
}
.studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
/* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
    text-decoration: none;
}


a{
    text-decoration: none;
}

